<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if title %}
                {{title}}
            {% else %}
                Welcome to Wallet App
            {% endif %}
        </title>
        <!-- Stylesheet -->
<!--        <link rel="stylesheet"-->
<!--          type="text/css"-->
<!--          href="{{ url_for("static", path='css/main.css') }}">-->
    </head>
    <body>
        <h1>We have these wallets created</h1>
        {% for wallet in wallets %}
        <h2>{{wallet.id}}</h2>
        <h3>{{wallet.name}}</h3>
        <h3 class="">{{wallet.amount}}</h3>
        <p class="">{{wallet.created_at}}</p>
        {% endfor %}
    </body>
</html>